body, html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}



.main-container {
    width: 100%;
    max-width: 900px;
}

.links-list {
    display: flex;
    flex-direction: column;
    margin-left: 4em;

}

.links-list a {
    margin: 10px 0;
    font-size: 21px;
}

p {
    text-align: justify;
}

section {
    margin-bottom: 40px;
}

section h2 {
    /*margin-left: 2em;*/
}

section:last-child {
    margin-bottom: 80px;
}
